.aboutSection5{
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 50px;
    // align-items: center;

    @media (min-width:1000px) {
        width: 90%;
        justify-content: space-between;
        display: flex;
        gap: 40px; 
        padding-top: 10rem;   
    }


    .aboutSection5-wrap1{
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .aboutSection5-wrap1-text1{
        font-family: Poppins;
        font-size: 17px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: #0F2454;
        text-transform: capitalize;
        width: 255.52px;
        height: Hug (56px);
        margin: 0 auto;

        @media (min-width:768px) {
            font-size: 30px;
            line-height:56.8px ;
            // height: 57px;
            width: 523.839599609375px;     
        }
        @media (min-width:1000px) {
            font-size:45px ;
            line-height: 54px;
            width:498px ;
            text-align: left;
            // min-height: Hug (108px);
            
        }

    }

    .aboutSection5-wrap1-text2{
        font-family: Poppins;
        font-size: 9px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: center;
        height: 66.18951416015625px;
        width: 90%;
        max-width: 500px;

        margin: 0 auto;

        @media (min-width:768px) {
            font-size: 18.93px;
            line-height:33.66px ;
            width:517.53px ;
            height: 135.69px;    
        }

        @media (min-width:1000px) {
            width:492px ;
            height: 129px; 
            text-align: left; 
            // padding-top: 10px;  
        }

    }

    .aboutSection5-wrap2{
        width: 100%;
        margin: 0 auto;
    }

    .aboutSection5-wrap2 img{
        width: 95%;
        margin: 0 auto;

        @media (min-width:1000px) {
            width: 100%;
            
        }
    }
}