@use "../../Styles/Utilities/functions" as fn;
@import "../../Styles/Utilities/breakpoints";
@import "../../Styles/Utilities/mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1440px;
  background-color: rgba(0, 0, 0, 0.168);
  padding: 3rem 0;
}
.Navbar {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(29, 41, 63, 0.12);
  // background-color: red;

  &-contents {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    padding: 3rem 0;

    @include breakpoint-down("md") {
      width: 85%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include breakpoint-down("lg") {
    }

    &-icon {
      display: block;
      cursor: pointer;
      color: white;
      font-size: 4rem;

      @include breakpoint-up("lg") {
        display: none;
      }
    }
  }
  .navInner {
    width: 100%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;

    @include breakpoint-down("md") {
      // display: none;
      position: absolute;
      left: -1000px;
      top: 10rem;
      background-color: grey;
      flex-direction: column;
    }
    // @include breakpoint-down("lg") {
    // }
    &Active {
      position: absolute;
      left: 0;
      opacity: 1;
    }
    &-btns {
      display: flex;
      column-gap: 3rem;
    }
  }
  .mainLogo {
    width: 140px;
  }
  .navList {
    list-style-type: none;
    display: flex;
    column-gap: 4rem;

    @include breakpoint-down("md") {
      // width: 85%;
    }
    @include breakpoint-down("lg") {
      // width: 85%;
    }

    &-li {
      color: white;
      font-size: 18px;
    }
    &-Link {
    }
  }
}

@include breakpoint-up("md") {
}

@include breakpoint-up("lg") {
}
