@use "../../Styles/Utilities/functions" as fn;
@import "../../Styles/Utilities/breakpoints";
@import "../../Styles/Utilities/mixins";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,700;1,800&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.HappyTourist {
  width: 100%;
  max-width: 1440px;
  margin: 8rem auto;

  &Contents {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8rem;
    padding: 8rem 0;
    @include breakpoint-up("md") {
      // width: 20%;
      grid-template-columns: repeat(2, 1fr);
    }

    &--1 {
      width: 90%;
    }
    &--2 {
      align-self: center;
      justify-self: center;

      &Inner {
        width: 90%;
        border: 1px solid lightgrey;
        padding: 4rem 4rem;
        position: relative;
        margin: 0 auto;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
          0px 64.81px 46.85px rgba(0, 0, 0, 0.0152),
          0px 38.52px 25.48px rgba(0, 0, 0, 0.0121),
          0px 20px 13px rgba(0, 0, 0, 0.01),
          0px 1.85px 6.52px rgba(0, 0, 0, 0.0079),
          0px 1.85px 3.15px rgba(0, 0, 0, 0.0048);
        @include breakpoint-up("md") {
          width: 80%;
        }

        &Img01 {
          position: absolute;
          top: -2rem;
          left: -4rem;
        }
      }
    }
  }
}
