@use "../../../Styles/Utilities/functions" as fn;
@import "../../../Styles/Utilities/breakpoints";
@import "../../../Styles/Utilities/mixins";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,700;1,800&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footerSection1 {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  background-color: #364039;
  color: #fff;

  .footerText {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.75);
    margin: 2rem 0 3rem;
  }
  &--icons {
    display: flex;
    column-gap: 2rem;

    &Inner {
      background-color: #0fbb3f;
      padding: 6px;
      border-radius: 50%;
      font-size: 3rem;
    }
  }
  &Contents {
    width: 85%;
    margin: 0 auto;
    padding: 8rem 0 6rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    // border-bottom: 1px solid grey;
    @include breakpoint-up("md") {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10rem;
    }
    @include breakpoint-up("lg") {
      grid-template-columns: repeat(4, 1fr);
    }

    &Inner li {
      font-size: 1.8rem;
      list-style-type: none;
      color: rgba(255, 255, 255, 0.75);
      margin: 1rem 0;
      width: 20rem;
    }
    &Inner h2 {
      font-size: 2.3rem;
      font-weight: 500;
    }

    &InnerLogo {
      width: 13rem;
    }
    &Inner--2 {
      width: 85%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 4rem 0;

      h6 {
        font-weight: 400;
        font-size: 1.3rem;
      }

      .innerFlex {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
